*~
*.swp
*.tar.gz
*.zip
Makefile
Makefile.old
MANIFEST
MANIFEST.bak
MYMETA.*
blib
pm_to_blib
node_modules/

mt-static/plugins/MTMLLinter/dist/*.min.js
mt-static/plugins/MTMLLinter/dist/*.min.css
mt-static/plugins/MTMLLinter/dist/*.map
mt-static/plugins/MTMLLinter/dist/*.svg
mt-static/plugins/MTMLLinter/dist/mtml-parser/
